@page "/2"
@inject UiState _uiState
@inject NavigationManager _navigationManager
<h3>Key Analysis</h3>

<p>
    Enter the key that will be hidden among the grid of random characters and select 'Analyze'.
    Confirm the parameters are correct before proceeding to next step.
</p>
@* NOTE: IValidatableObject error checking only occurs upon submit *@
<EditForm EditContext="@EditContext" OnValidSubmit="@NextScreen">
    <div class="form-fields">
        <button type="button" class="next-button btn btn-warning" @onclick="@(() => _navigationManager.NavigateTo("1"))">Back</button>
        <button type="button" class="next-button btn btn-warning" @onclick="Undo" disabled="@UndoDisabled">Undo</button>
        <button type="submit" class="next-button btn btn-warning">Next</button>
        <div class="form-field">
            <label>Key:</label>
            <div>
                <InputText @bind-Value="_uiState.KeyDefinition.KeyString" minlength="1"/>
                <button type="button" @onclick="Analyze">Analyze</button>
                <ValidationMessage For="@(() => _uiState.KeyDefinition.KeyString)"/>
            </div>
        </div>
        <div class="form-field">
            <label>Sample Keys:</label>
            <div>
                <InputTextArea @bind-Value="_uiState.KeyDefinition.SampleKeyStrings"></InputTextArea>
                <ValidationMessage For="@(() => _uiState.KeyDefinition.SampleKeyStrings)"/>
            </div>
        </div>
        <div class="form-field">
            <label>Prefix / Suffix:</label>
            <div style="display: flex;">
                <div style="display: inline-block; width: 50%;">
                    <input type="range" min="0" max="@(Math.Max(_uiState.KeyDefinition.KeyString.Length, 20))"
                           @bind-value="@_uiState.KeyDefinition.PrefixLength" @bind-value:event="oninput"/>
                    <p>@_uiState.KeyDefinition.PrefixLength</p>
                    <ValidationMessage For="@(() => _uiState.KeyDefinition.PrefixLength)"/>
                </div>
                <div style="display: inline-block; width: 50%;">
                    <input type="range" min="0" max="@(Math.Max(_uiState.KeyDefinition.KeyString.Length, 20))"
                           @bind-value="@_uiState.KeyDefinition.SuffixLength" @bind-value:event="oninput"
                           style="transform: scaleX(-1)"/>
                    <p style="text-align: right;">@_uiState.KeyDefinition.SuffixLength</p>
                    <ValidationMessage For="@(() => _uiState.KeyDefinition.SuffixLength)"/>
                </div>
            </div>
        </div>
        <div class="form-field">
            <label>Fragment Separator:</label>
            <div>
                <InputText maxlength="1" @bind-Value="_uiState.KeyDefinition.SeparatorStr"/>
                <ValidationMessage For="@(() => _uiState.KeyDefinition.Separator)"/>
            </div>
        </div>
        <div class="form-field">
            <label>Pre-defined Characters:</label>
            <div>
                <InputSelect @bind-Value="_uiState.KeyDefinition.CharSet">
                    <option @key=null value="">(Custom)</option>
                    @foreach (var charSet in Enum.GetValues<KeyCharSetEnum>())
                    {
                        <option @key=charSet value="@charSet">@charSet</option>
                    }
                </InputSelect>
                <button type="button" @onclick="Customize">Customize</button>
                <ValidationMessage For="@(() => _uiState.KeyDefinition.CharSet)"/>
            </div>
        </div>
        <div class="form-field">
            <label>Custom Characters:</label>
            <div>
                <InputText @bind-Value="_uiState.KeyDefinition.CustomCharset"/>
                <ValidationMessage For="@(() => _uiState.KeyDefinition.CustomCharset)"/>
            </div>
        </div>
    </div>
    <DataAnnotationsValidator/>
    <CharSetTally
        KeyStrings="@(string.Join(null, _uiState.KeyDefinition.CompleteSampleBody))"
        Separator="@_uiState.KeyDefinition.Separator"
        CharSet="@(_uiState.KeyDefinition.CharSet == null ? (_uiState.KeyDefinition.CustomCharset ?? "").ToHashSet() : KeyAnalyzer.CharSetFor(_uiState.KeyDefinition.CharSet!.Value))"/>
</EditForm>

@code {
#nullable enable

    private bool UndoDisabled => _uiState.ValidKeyDefinition == null;
    // Causes 'Undo' become available only after field on-change:
    // || _uiState.KeyDefinition.Equals(_uiState.ValidKeyDefinition)

    private EditContext EditContext { get; set; } = null!;

    protected override void OnInitialized()
    {
        EditContext = new EditContext(_uiState.KeyDefinition);
        base.OnInitialized();
    }

    private void Analyze()
    {
        var altDef = KeyAnalyzer.AnalyzeKeyString(_uiState.KeyDefinition.KeyString);
        _uiState.KeyDefinition.ReadFields(altDef);
        EditContext.Validate();
    }

    private void NextScreen()
    {
        _uiState.ValidKeyDefinition = _uiState.KeyDefinition.DeepCopy();
        _navigationManager.NavigateTo("3");
    }

    private void Undo()
    {
        if (_uiState.ValidKeyDefinition != null)
        {
            _uiState.KeyDefinition.ReadFields(_uiState.ValidKeyDefinition);
            EditContext.Validate();
        }
    }

    private void Customize()
    {
        if (_uiState.KeyDefinition.CharSet != null)
        {
            var chars = KeyAnalyzer.CharSetFor(_uiState.KeyDefinition.CharSet!.Value).ToList();
            chars.Sort();
            _uiState.KeyDefinition.CustomCharset = string.Join(null, chars);
            _uiState.KeyDefinition.CharSet = null;
        }
    }

}