@page "/3"
@inject UiState _uiState
@inject NavigationManager _navigationManager
<h3>Path Setup</h3>
<EditForm EditContext="@EditContext" OnValidSubmit="@NextScreen">
    <button type="button" class="next-button btn btn-warning" @onclick="NavBack">Back</button>
    <button type="button" class="next-button btn btn-warning" @onclick="Undo" disabled="@UndoDisabled">Undo</button>
    <button type="submit" class="next-button btn btn-warning">Next</button>
    <p>
        &nbsp;<br/>
        Define how large your grid should be. Larger is more secure but also more difficult to display and use.
    </p>
    <p>
        Then choose a series of cells that will define a path to inlay your key.
    </p>
    <div style="display: flex;">
        <div class="form-fields" style="display: inline-block;">
            <div>
            </div>
            <div class="form-field">
                <label><span class="oi oi-resize-width" aria-hidden="true"></span> Cols:</label>
                <div>
                    @* Can't bind value and listen for change *@
                    @* <InputNumber @bind-Value="_uiState.GridSetup.ColCount" @OnChange="ColCountChange"/> *@
                    <input type="number" style="width: 4em;" min="@PathDefinition.MinCount" max="@PathDefinition.MaxCount"
                           value="@(_uiState.PathDefinition.ColCount)" @onchange="ColCountChange"/>
                </div>
            </div>
            <div class="form-field">
                <label><span class="oi oi-resize-height" aria-hidden="true"></span> Rows:</label>
                <div>
                    <input type="number" style="width: 4em;" min="@PathDefinition.MinCount" max="@PathDefinition.MaxCount"
                           value="@(_uiState.PathDefinition.RowCount)" @onchange="RowCountChange"/>
                </div>
            </div>
            <div class="form-field">
                <label>Path:</label>
                <div>
                    @if (_uiState.PathDefinition.Coords.Any())
                    {
                        @(string.Join(' ', _uiState.PathDefinition.Coords))<br/>
                    }
                    else
                    {
                        <text>(Empty)</text>
                        <br/>
                    }
                    <button type="button" @onclick="Reset">Reset</button>
                    <button type="button" @onclick="UndoLeg">Undo</button>
                </div>
            </div>
        </div>
        <div style="display: inline-block;">
            <ValidationMessage For="@(() => _uiState.PathDefinition.ColCount)"/>
            <ValidationMessage For="@(() => _uiState.PathDefinition.RowCount)"/>
            <ValidationMessage For="@(() => _uiState.PathDefinition.Coords)"/>
        </div>
    </div>
    <DataAnnotationsValidator/>
</EditForm>
<GridDisplay Grid="Grid" OnCellSelect="CellClick"/>

@code {
#nullable enable

    private bool UndoDisabled => _uiState.ValidPathDefinition == null;
    private CoordGrid<DisplayCell> Grid { get; set; } = new(GridSetupModel.DefaultColCount, GridSetupModel.DefaultRowCount);
    private EditContext EditContext { get; set; } = null!;

    protected override void OnInitialized()
    {
        EditContext = new EditContext(_uiState.PathDefinition);
        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        SyncGrid();
    }

    private void CellClick(CellCoord clicked)
    {
        if (PathOperations.Trace(_uiState.PathDefinition.Coords).Count() < (_uiState.PathDefinition.EffectiveKeyString?.Length ?? 0))
        {
            _uiState.PathDefinition.Coords = _uiState.PathDefinition.Coords.Append(clicked);
            SyncGrid();
        }
    // else already have enough path
    }

    private void SyncGrid()
    {
        if (_uiState.PathDefinition.EffectiveKeyString != null)
        {
            ResetGrid();
            var remaining = _uiState.PathDefinition.EffectiveKeyString;
            CellCoord? last = null;
            foreach (var coord in PathOperations.Trace(_uiState.PathDefinition.Coords))
            {
                if (!Grid.Contains(coord))
                    break;

                var cell = Grid[coord];
                if (cell == null)
                {
                    cell = new DisplayCell {IsOnPath = true};
                    Grid[coord] = cell;
                }

                if (remaining.Any())
                {
                    var ch = remaining[0];
                    remaining = remaining[1..];
                    cell.Content = ch;
                    last = coord;
                }
            }

            foreach (var coord in Grid.AllCoords())
            {
                var displayCell = Grid[coord] ?? new DisplayCell();
                var isAvailable = last == null || PathOperations.CoordIsAvailable(coord, c => Grid[c]?.Content, last, remaining);
                if (isAvailable != displayCell.IsAvailable)
                {
                    Grid[coord] = displayCell with {IsAvailable = isAvailable};
                }
            }
        }
        EditContext.Validate();
    }

    private void ResetGrid()
    {
        int SafeCount(int i) => Math.Max(Math.Min(i, PathDefinition.MaxCount), PathDefinition.MinCount);
        var colCount = SafeCount(_uiState.PathDefinition.ColCount);
        var rowCount = SafeCount(_uiState.PathDefinition.RowCount);
        if (Grid.ColCount != colCount || Grid.RowCount != rowCount)
            Grid = new CoordGrid<DisplayCell>(colCount, rowCount);
        else
            Grid.Reset();
    }

    private void UndoLeg()
    {
        var count = _uiState.PathDefinition.Coords.Count();
        if (count > 0)
        {
            _uiState.PathDefinition.Coords = _uiState.PathDefinition.Coords.Take(count - 1);
            SyncGrid();
        }
    }

    private void Reset()
    {
        ResetGrid();
        _uiState.PathDefinition.Coords = Enumerable.Empty<CellCoord>();
        EditContext.Validate();
    }

    private void NextScreen()
    {
        _uiState.ValidPathDefinition = _uiState.PathDefinition.DeepCopy();
        _navigationManager.NavigateTo("4");
    }

    private void ColCountChange(ChangeEventArgs evt)
    {
        if (int.TryParse((string) evt.Value!, out var colCount) && _uiState.PathDefinition.ColCount != colCount)
        {
            _uiState.PathDefinition.ColCount = colCount;
            Reset();
        }
    }

    private void RowCountChange(ChangeEventArgs evt)
    {
        if (int.TryParse((string) evt.Value!, out var rowCount) && _uiState.PathDefinition.RowCount != rowCount)
        {
            _uiState.PathDefinition.RowCount = rowCount;
            Reset();
        }
    }

    private void NavBack()
    {
        _navigationManager.NavigateTo("2");
    }

    private void Undo()
    {
        if (_uiState.ValidPathDefinition != null)
        {
            _uiState.PathDefinition.ReadFields(_uiState.ValidPathDefinition);
            EditContext.Validate();
            SyncGrid();
        }
    }

}