@page "/3"
@inject UiState _uiState
@inject NavigationManager _navigationManager
<h3>Path Setup</h3>
<p>
    Define how large your grid should be. Larger is more secure but also more difficult to display and use.
</p>
<p>
    Then choose a series of cells that will define a path to inlay your key.
</p>

<div class="main">
    <EditForm Model="_uiState.PathDefinition" OnValidSubmit="@NextScreen">
        <div class="form-fields">
            <button type="button" class="next-button btn btn-warning" @OnClick="Back">Back</button>
            <button type="submit" class="next-button btn btn-warning">Next</button>
            <div class="form-field">
                <label>Columns:</label>
                <div>
                    @* Can't bind value and listen for change *@
                    @* <InputNumber @bind-Value="_uiState.GridSetup.ColCount" @OnChange="ColCountChange"/> *@
                    <input type="number" value="@(_uiState.PathDefinition.ColCount)" @onchange="ColCountChange"
                           min="@PathDefinition.MinCount" max="@PathDefinition.MaxCount"/>
                    <ValidationMessage For="@(() => _uiState.PathDefinition.ColCount)"/>
                </div>
            </div>
            <div class="form-field">
                <label>Rows:</label>
                <div>
                    <input type="number" value="@(_uiState.PathDefinition.RowCount)" @onchange="RowCountChange"
                           min="@PathDefinition.MinCount" max="@PathDefinition.MaxCount"/>
                    <ValidationMessage For="@(() => _uiState.PathDefinition.RowCount)"/>
                </div>
            </div>
            <div class="form-field">
                <label>Path:</label>
                <div>
                    @if (_uiState.PathDefinition.Coords.Any())
                    {
                        @(string.Join(' ', _uiState.PathDefinition.Coords))<br/>
                    }
                    else
                    {
                        <text>(Empty)</text>
                        <br/>
                    }
                    <button @onclick="Reset">Reset</button>
                    <ValidationMessage For="@(() => _uiState.PathDefinition.Coords)"/>
                </div>
            </div>
        </div>
        <DataAnnotationsValidator/>
    </EditForm>
    <GridDisplay Grid="Grid" OnCellSelect="CellClick"/>
</div>


@code {
    private CoordGrid<DisplayCell> Grid { get; set; } = new(GridSetupModel.DefaultColCount, GridSetupModel.DefaultRowCount);

    private void CellClick(CellCoord clicked)
    {
        _uiState.PathDefinition.Coords = _uiState.PathDefinition.Coords.Append(clicked);
        SyncGrid();
    }

    private void SyncGrid()
    {
        if (_uiState.PathDefinition.EffectiveKeyString != null)
        {
            var remaining = _uiState.PathDefinition.EffectiveKeyString;
            CellCoord? last = null;
            foreach (var coord in PathOperations.Trace(_uiState.PathDefinition.Coords))
            {
                if (!remaining.Any() || !Grid.Contains(coord))
                    break;

                var displayCell = Grid[coord];
                var ch = remaining[0];
                remaining = remaining[1..];
                if (displayCell.Content != ch)
                {
                    displayCell.Content = ch;
                    Grid[coord] = displayCell;
                }

                last = coord;
            }

            foreach (var coord in Grid.AllCoords())
            {
                var displayCell = Grid[coord];
                var isAvailable = last == null || PathOperations.CoordIsAvailable(coord, c => Grid[c].Content, last, remaining);
                if (displayCell.IsAvailable != isAvailable)
                {
                    displayCell.IsAvailable = isAvailable;
                    Grid[coord] = displayCell;
                }
            }
        }
    }

    private void Reset()
    {
        int SafeCount(int i) => Math.Max(Math.Min(i, PathDefinition.MaxCount), PathDefinition.MinCount);
        var colCount = SafeCount(_uiState.GridSetup.ColCount);
        var rowCount = SafeCount(_uiState.GridSetup.RowCount);
        Grid = new CoordGrid<DisplayCell>(colCount, rowCount);
        _uiState.PathDefinition.Coords = Enumerable.Empty<CellCoord>();
    }

    private void NextScreen()
    {
        _uiState.ValidPathDefinition = _uiState.PathDefinition.DeepCopy();
        _navigationManager.NavigateTo("4");
    }

    private void ColCountChange(ChangeEventArgs evt)
    {
        if (int.TryParse((string) evt.Value!, out var colCount) && _uiState.GridSetup.ColCount != colCount)
        {
            _uiState.GridSetup.ColCount = colCount;
            Reset();
        }
    }

    private void RowCountChange(ChangeEventArgs evt)
    {
        if (int.TryParse((string) evt.Value!, out var colCount) && _uiState.GridSetup.RowCount != colCount)
        {
            _uiState.GridSetup.RowCount = colCount;
            Reset();
        }
    }

    private void Back()
    {
        _navigationManager.NavigateTo("2");
    }

}